.navegation-background {
  height: 100vh;
  width: 13rem;
  background: #363740;
  right: 0;
  top: 0;
  position: sticky;
  float: left;
  z-index: 1;
  transition: 150ms;
}
.navegation-background-closed {
  height: 100vh;
  width: 3.5rem;
  background: #363740;
  right: 0;
  top: 0;
  position: sticky;
  float: left;
  z-index: 1;
  transition: 150ms;
}
.navegation-avatar {
  color: #1e1f29;
  height: 5rem !important;
  width: 5rem !important;
  font-size: 3rem !important;
  border-radius: 40% !important;
  transition: 150ms;
}
.navegation-avatar-closed {
  color: #1e1f29;
  height: 2.5rem !important;
  width: 2.5rem !important;
  font-size: 1.5rem !important;
  border-radius: 40% !important;
  transition: 150ms;
}
.navegation-username {
  color: #a4a6b3;
  font-size: 1.2rem;
}
.navegation-background-item {
  height: 3rem;
  width: 13rem;
  text-decoration: none !important;
  transition: 150ms;
}

.navegation-background-item-selected {
  height: 3rem;
  width: 13rem;
  text-decoration: none !important;
  background: #3f4049;
  transition: 150ms;
}
.navegation-background-item-closed {
  height: 3rem;
  width: 3.5rem;
  text-decoration: none !important;
  transition: 150ms;
}

.navegation-background-item-selected-closed {
  height: 3rem;
  width: 3.5rem;
  text-decoration: none !important;
  background: #3f4049;
  transition: 150ms;
}
.navegation-icon-item {
  font-size: 1.2rem;
  color: #a4a6b3;
}
.navegation-icon-text {
  font-size: 1.1rem;
  color: #a4a6b3;
}
.navegation-item-line {
  height: 3rem;
  width: 0.1rem;
  background: #a4a6b3;
  position: absolute;
}
